/*
#2D3250 --darker blue 
#424769 -- lighter blue 
#7077A1 -- blue 
#F6B17A -- light
*/
*{
    margin: 0;
    padding: 0;
    background-color: #2D3250;

}

h1 {
    color: azure;
    text-align: center;
}

body{
    text-align: center;
    margin-top: 5rem;
    align-items: center;
}

button {
    background-color: #2D3250;
    color: wheat;
    font-size: 5vmin;
}

.container{
    height: 70vh;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.game { 
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    /* background-color:#F6B17A ; */
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(251, 251, 251, 0.1);
    font-size: 5vmin;
}

/*.reset {
    background-color: wheat;
    color: black;
    border-radius: 1rem;
    font-size: 150%;
    
}*/

#reset-btn {
    padding: 1rem;
    background-color: rgb(34, 33, 41);
    color: wheat;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
}